{% extends "layout.html" %}
{% block body %}
<div class="masthead clearfix">
  <div class="inner">
    <a href="{{ url_for('index') }}">
      <h1 class="masthead-brand">PassPass</h1>
    </a>
    <nav>
      <ul class="nav masthead-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li class="active"><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="inner cover">
  <p class="lead">
    Hi, I'm Carlan. This is a password generator based on some rules. While this is a very simple application the generated passwords are very strong. 
  </p>

  <p class="lead">
    I created this app to learn more about the Flask framework, which was written in Python. It's very similar to bottle tho. And sinatra, written in Ruby. You know what it's reminds me from a far distance too? Spark for Java. I don't know, I love microframeworks, they are so simple to prototype something.
  </p>
</div>
{% endblock %}