<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PassPass is a simple online password generator.">
    <meta name="author" content="Carlan Calazans">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>PassPass</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/passpass.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <a href="{{ url_for('index') }}">
                <h1 class="masthead-brand">PassPass</h1>
              </a>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{{ url_for('index') }}">Home</a></li>
                  <li class="active"><a href="{{ url_for('about') }}">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <p class="lead">
              Hi, I'm Carlan. This is a password generator based on some rules. While this is a very simple application the generated passwords are very strong. 
            </p>

            <p class="lead">
              I created this app to learn more about the Flask framework, which was written in Python. It's very similar to bottle tho. And sinatra, written in Ruby. You know what it's reminds me from a far distance too? Spark for Java. I don't know, I love microframeworks, they are so simple to prototype something.
            </p>
          </div>

        </div>

      </div>

    </div>

    <script src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/clipboard.min.js') }}"></script>
    <script>
      const clipboard = new Clipboard('.copyme');
    </script>
  </body>
</html>