{% extends "layout.html" %}
{% block body %}
<div class="masthead clearfix">
  <div class="inner">
    <a href="{{ url_for('index') }}">
      <h1 class="masthead-brand">PassPass</h1>
    </a>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="inner cover">
  <a href="#" class="copyme" data-clipboard-text="{{ password }}">
    <h1 class="cover-heading">{{ password }}</h1>
  </a>
  <p class="lead">
    <a href="{{ url_for('index') }}" class="btn btn-lg btn-default">Generate another one</a>
  </p>
</div>
{% endblock %}